.wrapper{
    display: flex;
    justify-content: center;
}
.main-wrapper{
    width: 40%;
}

.login-button {
    width: 100%;
    border-radius: 5px;
}

.login-button:hover {
    background-color: #00a210c9;
    border-color: #0c0d0d;
}
.button-container {
  display: flex;
  justify-content: center;
}
.wrapper{
  display: flex;
  justify-content: center;
}
.main-wrapper{
  width: 40%;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
